/* ОБНУЛЕНИЕ */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav.footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ---------------- */
body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}




[class*="__container"] {
    max-width: 1057px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* PC */
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

/* TABLET */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

/* MOBILE SMALL*/
@media (max-width: 479.98px) {}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__menu {
    flex: 1 1 auto;
}

.header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* --------------- */
.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;

}

.button.button_blue {}

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    color: #000;
    letter-spacing: 1px;
}

.menu__link:hover {
    text-decoration: underline;
}

@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }

    .header__button {
        flex: 0 0 170px;
    }

    .menu__item {
        margin: 0px 30px 0px 0px;
    }
}

@media (max-width: 767.98px) {
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }

    .header:target .menu__body {
        left: 0;
    }

    .header:target .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #fff;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__item {
        margin: 0px 0px 25px 0px;
    }

    .menu__item:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        /* color: #fff; */
        font-size: 20px;
    }
}

@media (max-width: 479.98px) {
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}

/* --------------- */
.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #FCFDFE;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: #ec5863;
    transition: background-color 0.3s ease 0s;
}

.button:hover {
    background-color: #f37a82;
}

.button_blue {
    background-color: #4285f4;
}

.button_blue:hover {
    background-color: #70a3f7;
}

/* --------------- */
.close-icon-menu,
.icon-menu {
    display: none;
}

@media (max-width:767.98px) {
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }

    .icon-menu span {
        height: 2px;
        background-color: #000;
    }

    .close-icon-menu {
        flex: 0 0 30px;
        height: 30px;
        position: relative;
        margin: 0px 0px 0px 20px;
    }

    .close-icon-menu::before,
    .close-icon-menu::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100px;
        background-color: #000;
        height: 2px;
    }

    .close-icon-menu::before {
        transform: rotate(45deg);
    }

    .close-icon-menu::after {
        transform: rotate(-45deg);
    }

    .header:target .icon-menu {
        display: none;
    }

    .header:target .close-icon-menu {
        display: flex;
    }
}

/* ------------------------------------ */
.block-text {}

.block-text_center {
    text-align: center;
}

.block-text__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000;
}

.block-text__title:not(:last-child) {
    margin: 0px 0px 12px 0px;
}

.block-text__title span {
    color: #ec5863;
}

.block-text__title_blue span {
    color: #4285F4;
}

.block-text__text {
    line-height: 138.5%;
}

.block-text__text_mw {
    max-width: 620px;
    margin: 0px auto;
}

.block-text__text:not(:last-child) {
    margin: 0px 0px 12px 0px;
}

.block-text__button {}

@media (max-width: 767.98px) {
    .block-text__title {
        font-size: 34px;
    }
}



/* ------------------------------------ */
.get-started {
    background-color: #fafbfd;
}

.get-started__container {
    padding: 150px 15px 50px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.get-started__container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 255px;
    top: 0;
    transform: translate(100%, 0px);
    border-radius: 30px 0px 0px 30px;
    background-color: #ec5863;
}

.get-started__content {
    flex: 0 1 48%;
    padding: 0px 20px 0px 20px;
}

.get-started__block-text {
    max-width: 410px;
}

.get-started__video {
    flex: 1 1 100%;
    padding: 0px 0px 20px;
}

.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2я;
}

.get-started__image img {
    max-width: 100%;
}

.video-get-started__icon {
    flex: 0 0 44px;
}

.video-get-started__body {
    padding: 0px 0px 0px 12px;
}

.video-get-started__title {
    color: #b0b0b0;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 1.5px;
}

.video-get-started__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
}

.video-get-started__text {
    text-transform: uppercase;
    font-size: 9px;
    color: #000;
    line-height: 126%;
    letter-spacing: 2px;
}

.video-get-started {
    display: inline-flex;
    align-items: center;
}

@media (max-width: 991.98px) {
    .get-started__container::before {
        right: 170px;
        border-radius: 20px 0px 0px 20px;
    }
}

@media (max-width: 767.98px) {
    .get-started__container {
        padding: 100px 15px 30px 15px;
    }

    .get-started__container::before {
        display: none;
    }

    .get-started__block-text {
        max-width: none;
    }

    .get-started__content {
        flex: 1 1 100%;
        padding: 0;
    }

    .get-started__image {
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0;
    }

    .get-started__video {
        padding: 0;
    }
}

/* ========================== */
.stay-safe {
    padding: 90px 0;
}

.stay-safe__container {
    display: flex;
    align-items: center;
}

.stay-safe__media {
    flex: 0 1 50%;
}

.stay-safe__content {
    flex: 0 1 50%;
}

.stay-safe__block-text {}

.media-stay-safe {
    width: 373px;
    padding: 56px 0px 27px 0px;
    text-align: center;
    position: relative;
}

.media-stay-safe__image {
    display: inline-block;
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    position: relative;
    width: 61.5%;
}

.media-stay-safe__image img {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.media-stay-safe__image::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 12px;
    width: 206px;
    height: 27px;
    z-index: 2;
    background: rgba(240, 240, 240, 0.49);
    border-radius: 16px;
}

.media-stay-safe__item {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
    width: 77px;
    height: 77px;
}

.media-stay-safe__item_1 {
    top: 0;
    left: 0;
    width: 147px;
    height: 147px;
}

.media-stay-safe__item_2 {
    bottom: 0;
    left: 33px;

}

.media-stay-safe__item_3 {
    bottom: 107px;
    right: 34px;
}

@media (max-width: 991.98px) {
    .stay-safe {
        padding: 40px 0;
    }
}

@media (min-width: 991.98px) {
    .stay-safe__media {
        padding: 0px 0px 0px 47px;
    }
}

@media (max-width: 767.98px) {
    .stay-safe {
        padding: 30px 0;
    }

    .stay-safe__container {
        flex-direction: column-reverse;
    }

    .stay-safe__content {
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width: 479.98px) {
    .media-stay-safe {
        width: 290px;
    }
}

/* ====================== */
.experts {
    background-color: #fafbfd;
    padding: 103px 0px 116px 0px;
}

.experts__statistics {}

.experts__block-text {
    max-width: 400px;
}

.statistics-experts {
    max-width: 655px;
    margin: 0px auto;
    position: relative;
}

.experts__body {
    display: flex;
    align-items: center;
}

.experts__content {
    flex: 0 1 50%;
    padding: 0px 20px 0px 0px;
}

.experts__video {
    flex: 0 1 50%;
    padding: 0px 0px 30% 0px;
    position: relative;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    overflow: hidden;
}

.experts__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .experts {
        padding: 80px 0px 30px 0px;
    }

    .experts__body {
        align-items: stretch;
        flex-direction: column;
    }

    .experts__video {
        padding: 0px 0px 58% 0px;
    }

    .experts__content {
        padding: 0;
        margin: 0px 0px 30px 0px;
    }
}

.statistics-experts__body {
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
    margin: 0px 0px 80px 0px;
}

.statistics-experts__decor {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
    border-radius: 16px;
}

.statistics-experts__decor_1 {
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    bottom: -21px;
    left: -21px;
}

.statistics-experts__decor_2 {
    width: 97px;
    height: 97px;
    right: 50%;
    top: -40px;
    transform: rotate(30deg);
}

.statistics-experts__decor_3 {
    width: 128px;
    height: 128px;
    right: -55px;
    top: 0px;
    transform: rotate(-30deg);
}

.body-statistics-experts {
    padding: 25px 80px;
    display: flex;
    align-items: center;
}

.body-statistics-experts__item {
    flex: 0 1 25%;
    text-align: center;
}

.body-statistics-experts__item:last-child {
    flex: 0 1 50%;
}

.body-statistics-experts__value {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ec5863;
    margin-bottom: 5px;
}

.body-statistics-experts__text {
    font-weight: 700;
    font-size: 11px;
    line-height: 1.8;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

@media (max-width: 767.98px) {
    .statistics-experts__body {
        margin: 0px 0px 50px 0px;
    }

    .body-statistics-experts {
        padding: 25px;
    }
}

@media (max-width: 479.98px) {
    .body-statistics-experts {
        flex-direction: column;
    }

    .body-statistics-experts__item:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
}

/* ========================== */
.healthcare {
    padding: 80px 0px 30px 0px;
}

.healthcare__items {
    display: flex;
    /* gap: 72px; */
}

.healthcare__column {
    position: relative;
    padding: 0px 36px;
    flex: 0 1 33.333%;
}

.healthcare__item {}

.healthcare__block-text {
    margin: 0px 0px 45px 0px;
}

.item-healthcare {
    height: 100%;
    position: relative;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px 17px;
}

.item-healthcare__icon {
    margin: 0px 0px 58px 0px;
}

.item-healthcare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    color: #000;
    margin: 0px 0px 4px 0px;
}

.item-healthcare__text {
    line-height: 138.5%;
}

.healthcare__column_1::before,
.healthcare__column_1::after {
    content: "";
    position: absolute;
    background-color: #ec5863;
    border-radius: 16px;
}

.healthcare__column_1::before {
    width: 65px;
    height: 65px;
    bottom: -35px;
    left: 15px;
    transform: rotate(-30deg);
}

.healthcare__column_1::after {
    width: 97px;
    height: 97px;
    top: 35px;
    right: -10px;
    border-radius: 30px;
    transform: rotate(30deg);
}

.healthcare__column_2::after {
    content: "";
    position: absolute;
    background-color: #ec5863;
    width: 127px;
    height: 127px;
    bottom: -35px;
    right: -35px;
    border-radius: 30px;
    transform: rotate(55deg);
}

.healthcare__column_3::after {
    content: "";
    position: absolute;
    background-color: #ec5863;
    width: 65px;
    height: 65px;
    top: -25px;
    right: 10px;
    border-radius: 16px;
    transform: rotate(45deg);
}

@media (max-width: 1087px) {
    .healthcare__column {
        padding: 0px 15px;
    }
}

@media (max-width: 991.98px) {
    .healthcare {
        padding: 30px 0px 30px 0px;
    }

    .healthcare__items {
        flex-direction: column;
    }

    .healthcare__column:not(:last-child) {
        margin: 0px 0px 25px 0px;
    }
}

/* ==================================== */
.footer {
    padding: 45px 0;
}

.footer__container {}

.footer__items {
    display: flex;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .footer {
        padding: 30px 0;
    }
    .footer__items {
        flex-direction: column;
    }
}